.cont_footer {
  height: 13.750000000000002vw;
}

.cont_icons {
  width: 83.75%;
  margin-top: 1.09375vw;
}

.cont_icons a {
  display: block;
}
.cont_image_0 {
  width: 7.925vw;
  height: 3.2703125vw;
}
.cont_image_1 {
  width: 8.4vw;
  height: 2.306770833333333vw;
}
.cont_image_2 {
  width: 9.947916666666666vw;
  height: 4.53125vw;
}
.cont_image_3 {
  width: 9.947916666666666vw;
  height: 4.53125vw;
}
.cont_image_4 {
  width: 9.947916666666666vw;
  height: 4.53125vw;
}
.cont_image_5 {
  width: 11.40625vw;
  height: 4.53125vw;
}
.cont_image_6 {
  width: 11.40625vw;
  height: 4.53125vw;
}
