.content_home {
  height: 38.171875vw;
}
.footer_background {
  height: 10.993229166666667vw;
}

.point_icon {
  width: 4.21875vw;
  height: 4.427083333333334vw;
  top: 2.604166666666667vw;
  left: 16.458333333333332vw;
}
.arrow_back_icon0 {
  width: 9.583333333333334vw;

  height: 13.697916666666668vw;
  top: 3.0208333333333335vw;
  left: -3.6804517110188804vw;
}
.arrow_back_icon1 {
  left: 93.95833333333333%;
  width: 9.583333333333334vw;
  height: 13.697916666666668vw;
  top: 20.5515625vw;
}

.whatsapp_icon {
  width: 8.75vw;
  height: 2.083333333333333vw;
  border-radius: 1.25vw;
}
