@font-face {
  font-family: "nutmeg";
  src: url("/fonts/Nutmeg-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "nutmeg";
  src: url("/fonts/Nutmeg-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "nutmeg";
  src: url("/fonts/Nutmeg-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "nutmeg";
  src: url("/fonts/Nutmeg-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "nutmeg";
  src: url("/fonts/Nutmeg-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "nutmeg";
  src: url("/fonts/Nutmeg-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "nutmeg";
  src: url("/fonts/Nutmeg-Book.ttf");
  font-weight: 350;
}

.background-png {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
